<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Hero yang sering digunakan {{hero}}
    <br>
    Hero yang tidak pernah digunakan {{hero2}}
   <h1>Dan ini adalah motor yang biasa saya gunakan hehe</h1>
    {% for element in student %}
        {{ element.create_date}} ||
        {{ element.nama}} ||
        {{ element.nim }} <br>
    {% endfor %}
   <img src="{% static 'images.jpeg'%}" alt="file tidak ditemukan!">
</body>
</html>