<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Halo kembali lagi bersama saya Baihaqi dan ini adalah ... {{boom}}</p>
    <br>
    <p>Yaitu {{bim}}</p>
</body>
</html>